*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 150vh;
	width: 100%;
	background-image: url(IMG_4855.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: #C70039;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #D2FF06;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: #e32098;

	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	transition: .4s;
	color:black ;
}

.btn{
	background-color:#2a1d79;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: rgb(228, 93, 9);
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: #FF0022;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: rgba(115, 67, 27, 0.8);
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #0025f9;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f94b00;
	color: rgb(234, 188, 133);
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #2f1232;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: #efca93;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: #efca93;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#D88F00;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #D88F00;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #D88F00;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#D88F00;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #D88F00;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 550px;
	background: #101010;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#D88F00;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #D88F00;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #00d8c6;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#D88F00;
	bottom: 15px;
	font-size: 4px; 
}

.ag-format-container {
	width: 1142px;
	margin: 0 auto;
  }
  
  
  body {
	background-color: #000;
  }
  .ag-courses_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  
	padding: 50px 0;
  }
  .ag-courses_item {
	-ms-flex-preferred-size: calc(33.33333% - 30px);
	flex-basis: calc(33.33333% - 30px);
  
	margin: 0 15px 30px;
  
	overflow: hidden;
  
	border-radius: 28px;
  }
  .ag-courses-item_link {
	display: block;
	padding: 30px 20px;
	background-color: #121212;
  
	overflow: hidden;
  
	position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
	text-decoration: none;
	color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
	-webkit-transform: scale(10);
	-ms-transform: scale(10);
	transform: scale(10);
  }
  .ag-courses-item_title {
	min-height: 87px;
	margin: 0 0 25px;
  
	overflow: hidden;
  
	font-weight: bold;
	font-size: 30px;
	color: #FFF;
  
	z-index: 2;
	position: relative;
  }
  .ag-courses-item_date-box {
	font-size: 18px;
	color: #FFF;
  
	z-index: 2;
	position: relative;
  }
  .ag-courses-item_date {
	font-weight: bold;
	color: #f9b234;
  
	-webkit-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease
  }
  .ag-courses-item_bg {
	height: 128px;
	width: 128px;
	background-color: #f9b234;
  
	z-index: 1;
	position: absolute;
	top: -75px;
	right: -75px;
  
	border-radius: 50%;
  
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
	background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
	background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
	background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
	background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
	background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
	.ag-courses_item {
	  -ms-flex-preferred-size: calc(50% - 30px);
	  flex-basis: calc(50% - 30px);
	}
	.ag-courses-item_title {
	  font-size: 24px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.ag-format-container {
	  width: 96%;
	}
  
  }
  @media only screen and (max-width: 639px) {
	.ag-courses_item {
	  -ms-flex-preferred-size: 100%;
	  flex-basis: 100%;
	}
	.ag-courses-item_title {
	  min-height: 72px;
	  line-height: 1;
  
	  font-size: 24px;
	}
	.ag-courses-item_link {
	  padding: 22px 40px;
	}
	.ag-courses-item_date-box {
	  font-size: 16px;
	}
  }
